@{
    ViewData["Title"] = "Comenzar";
}


  
    @foreach(Juego item in ViewBag.ListaPreguntas) 
{
<h2>¡Bienvenido @ViewBag.username</h2> 
<p>Categoría seleccionada: @item.dificultad</p>
<p>Dificultad seleccionada: @item.categoria</p>
}   