@{
    ViewData["Title"] = "Comenzar";
}

<h2 class="bien" >¡ Bienvenido @ViewBag.NombreJugador!</h2>
<p class="catsele">Categoría seleccionada: @ViewBag.IdCategoria</p>
<p class="difisele">Dificultad seleccionada: @ViewBag.IdDificultad</p>