@{
    ViewData["Title"] = "Comenzar";
}
<h2 class="bien" >¡Bienvenido @ViewBag.Username !</h2> 
<p class="catsele" >Categoría seleccionada: @ViewBag.Categoria</p>
<p class="difisele" >Dificultad seleccionada: @ViewBag.Dificultad</p>

