<form Action='@Url.ActionLink("Jugar", "Home")'>
    @foreach (Categoria item in ViewBag.ListaCategorias)
    {
        <input type="radio" name="categoria" value="cate" > @item.Nombre  
    }
    @foreach (Dificultad item in ViewBag.ListaDificultades)
    { 
        <input type="radio" name="dificultad" value="cate"  > @item.Nombre
    }

        <input type="submit" value="Jugar" >
</form>
