@{
    ViewData["Title"] = "Créditos";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="credito">Créditos</h1>
            <p class="desarrollo">Desarrollado por:</p>


<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="../img/bruno.jpeg" class="card-img-top" alt="bruno">
                    <div class="card-body">
                        <p class="card-text">Bruno Massaccesi en el desarrollo de PreguntadOrt fue el encargado tanto del BackEnd como del FrontEnd</p>
                    </div>
            </div>
    </div>
    <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="../img/ghelman.jpeg" class="card-img-top" alt="tiago">
                    <div class="card-body">
                        <p class="card-text">Tiago Ghelman en el desarrollo de PreguntadOrt fue el encargado tanto del BackEnd como del FrontEnd</p>
                    </div>
            </div>


    </div>
  </div>
</div>
 </div>
    </div>
</div>
